/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/out
The Core Java Project.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/uiDesigner.xml
/.idea/codeStyles/codeStyleConfig.xml

.idea

The-Core-Java-Project.iml